#block-b5subtheme-quicktabsodluke {
  padding: 0;
  .item-list {
    .quicktabs-tabs {
      display: flex;
      background-color: $color-white;
      li {
        font-size: 1.7rem;
        font-weight: 300;
        margin: 0;
        padding: 0.25rem 0;
        background-color: $color-green;
        a {
          color: $color-white;
          display: flex;
          padding: 0 1rem;
          text-transform: uppercase;
          &:hover {
            text-decoration: none;
          }
        }
        &.active {
          background-color: $color-white;
          a {
            color: $color-primary;
          }
        }
      }
    }
  }

  .quicktabs-main {
    padding: 0 1rem;
  }

}
