$color-primary: #0988b7;
$color-primary-light: #f8bbd0;
$color-primary-dark: #c2185b;
$color-white: #ffffff;
$color-white-dark: #dedede;
$color-black: #212121;
$color-black-light: #757575;
$color-secondary: #ff4081;
$color-green: #A6BC33;
$color-datetime: #9f9f9f;
$color-grey: #dedede;
